.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83%;
}

.col-11 {
  width: 91.6%;
}

.col-12 {
  width: 100%;
}

.mb-24 {
  margin-bottom: 24px;
}

.pr-24 {
  padding-right: 24px;
}

@media (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.67%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33%;
  }

  .col-sm-5 {
    width: 41.67%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83%;
  }

  .col-sm-11 {
    width: 91.6%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .p-sm-14 {
    padding: 14px;
  }
}

@media (min-width: 768px) and (min-height: 768px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.67%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33%;
  }

  .col-md-5 {
    width: 41.67%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83%;
  }

  .col-md-11 {
    width: 91.6%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.67%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33%;
  }

  .col-lg-5 {
    width: 41.67%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83%;
  }

  .col-lg-11 {
    width: 91.6%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .mb-lg-8 {
    margin-bottom: 8px;
  }

  .p-lg-14 {
    padding: 14px;
  }

  .pb-lg-8 {
    padding-bottom: 8px;
  }

  .pr-lg-8 {
    padding-right: 8px;
  }
}
