body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.swiper-container {
  height: 100%;
}

/*removing shadow that gets placed on input*/
input[type='tel'] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
